@charset "utf-8";
body {
    background-image: url(fundo05.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    margin: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 17px;    
    color: #333;     
    line-height: 1.6;
    
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    
    
}

.container div {     
    border: 10px rgb(255, 255, 255) solid;     
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 0, 255)); 
    border-radius: 60px;
} 

.item-1 {     
    flex-grow: 4;     
    order: 2px;
    text-align: center;
    color:#ffffff
}
.d1 {
    margin-bottom: 230px;
    background-color: #ffffff;
    
    
}

.col {     
  
    width: 30%;      
    display:inline-flex;
    margin-left: 20px;

    


   

}

.price-box {     
    background-image: linear-gradient(to bottom, white, rgb(226, 226, 236));    
    color: #555;     
    list-style-type: none;     
    border: 1px solid #555;     
    margin: 15px;     
    padding: 10px;
    border-radius: 30px;
}
 
.price-box .header {     
    background-color: #111;     
    color: #fff;     
    font-size: 25px; 
    border-radius: 20px;
    
}

.price-box .header.header-green {     
    background: #4caf50; 
} 

.price-box li {     
    padding: 20px;     
    border-bottom: 20px solid #eee;     
    text-align: center; 
} 
 

button {
    border: 2px solid rgb(0, 255, 213);
    padding: 10px 20px;
    border-radius: 15px;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

button:hover {
    background-image: linear-gradient(to bottom, rgb(144, 230, 225), rgb(0, 255, 170));
}

.btn {     
    background-color: #b1efff;     
    border: none;     
    color: rgb(0, 163, 14);     
    padding: 10px 15px;     
    text-align: center;     
    text-decoration: none;     
    font-size: 20px;
    border-radius: 15px;
}

figure { 
    border: 8px solid red;
}


footer {
    background-image: linear-gradient(to bottom, rgb(144, 113, 202), rgb(255, 117, 237));
    padding: 50px 150px;
    font-size: 30px;
    text-align:center;
    
    
}

.oioioi {
    margin-left: 10px;
}

label {
    border-radius: 25px;
}


.andrea {
    margin-left: 25px;
}

.everaldo {
    margin-left: 25px;
}


h1 {
    color:rgb(143, 159, 229)
}



.barbara {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 255));;
    color:#fff;
    margin-bottom: 80px;
    margin-top: 60px;
    
    
}

.elder {
    background-image: -o-linear-gradient(bottom, rgb(0, 0, 255), rgba(0, 255, 255, 0.637));
}

.btn:hover {
    background-image: linear-gradient(to bottom, rgb(144, 230, 225), rgb(0, 255, 170));
    color: #4caf50;
}

.josley {
    background-image: linear-gradient(to bottom, rgb(144, 230, 225), rgb(0, 255, 170));
    
}